

.map-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Takes full height of the viewport */
    position: relative; /* box2를 절대 위치로 배치하기 위한 상대 위치 */
  }
  
  .map-container {
    width: 100%;
    max-width: 600px; /* Adjust to your desired max width */
    height: 850px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    position: relative
  }
  
  .refresh-button {
    position: absolute;
    bottom: 150px;
    right: 450px;
    padding: 10px 15px;
    background-color: lightgreen;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10; /* 버튼이 다른 요소 위에 오도록 설정 */
  }
  
  /* styles.css or App.css */
  @media (max-width: 768px) {
    .map-container {
      height: 300px;
    }
  
    .info-window {
      font-size: 12px;
      min-width: 200px;
    }
    .refresh-button {
      bottom: 15px;
      right: 15px;
      padding: 8px 12px;
    }
  }
  
  @media (max-width: 480px) {
    .map-container {
      height: 550px;
    }
  
    .info-window {
      font-size: 11px;
      min-width: 180px;
    }
  
    .refresh-button {
      bottom: 10px;
      right: 10px;
      padding: 6px 10px;
    }
  }
  
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* 가운데 정렬을 위해 */
  }
  
  .login-container > img:first-child,
  .login-container > img:nth-child(2) {
    display: inline-block;
    width: 100px; /* 이미지 너비 예시 */
  }
  
